<!DOCTYPE html>
<html lang="en" >
<!-- Head -->
<head>
  <meta charset="UTF-8">
  <title>Anna's Profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css'>
  <link rel="stylesheet" href="styles/style.css">

  <script src="https://cdn.jsdelivr.net/npm/particles.js"></script>
</head>
<body class="bgimage">

<div id="particles-js"></div>

<main class="container text-center mt-4">

    <div class="row justify-content-center">
        <div class="col-md-6">
          <img src="https://avatars.githubusercontent.com/u/149623553?v=4" alt="Profile Picture" class="rounded-circle mb-3" width="200" height="200">
          <blockquote class="white-text">I need a &lt;br&gt;</blockquote><br>

          <div class="lora-font-white">
            <% if (profileData && profileData.length > 0) { %>
              <h2><%= profileData[0].name %></h2>
              <p class="text-muted"><%= profileData[0].status %></p>
            <% } else { %>
              <h2>No profile found.</h2>
              <p class="text-muted">Please add a profile to continue.</p>
            <% } %>
          </div>

          <div class="card p-3 mt-3 lora-font-black">
            <h4>About Me</h4>
            <p>
              Hello! I'm Anna Shannon, I am pursing a B.S. in Information Technology with a concentration in cybersecurity. 
              I have a dog named Annalee and a cat named Blaze. My hobbies include video games, painting, and watching YouTube 💻
            </p>
          </div>

          <!--<%= profileData[0]?.url %>-->
          <div class="mt-3">
            <br><a href="https://github.com/AnnaShannon2002" target="_blank" class="btn btn-dark">GitHub Profile</a>
            <a href="https://github.com/AnnaShannon2002/super-potato-sobie-profile" target="_blank" class="btn btn-dark">GitHub Repo</a>
          </div>
        </div>
    </div>

    <div class="row justify-content-center lora-font-white">
      <div class="col-md-6">
        <br><h4><%= profileData[0].prompt %></h4>
      </div>
    </div>

    <form method="POST" action="insert/">
        <input name="title">
        <input name="post">
        <button class="btn btn-primary" role="submit">New Post</button>
    </form>

    <% profileData.forEach(result=> { %>
      
      <div class="row justify-content-center mt-3">
        <div class="d-flex justify-content-center align-items-center">
          <form method="POST" action="update/">
            <input name="updateTitle" value="<%= result.title %>">
            <input name="updatePost" value="<%= result.post %>"> 
            <input type="hidden" name="updateId" value="<%=result._id %>">
            <button class="btn btn-primary" role="submit"><i class="bi bi-pencil"></i></button>
          </form>

          <form method="POST" action="delete/" class="ms-2">
            <input type="hidden" name="deleteId" value="<%=result._id %>">
            <button class="btn btn-danger" role="submit"><i class="bi bi-trash3"></i></button>
          </form>
        </div>
    </div>
      <% }); %>
</main>

<!-- Footer -->
<footer class="bg-body-tertiary text-center text-lg-start fixed-bottom white-text">
  <div class="text-center footer">
    © Copyright Anna Shannon 2025
    <!--<a class="text-body" href="https://getbootstrap.com/">ANS</a>-->
  </div>
</footer>
  
<!-- all my script libraries -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.3/jquery-ui.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js'></script>
<script src="scripts/script.js"></script>
  
</body>
</html>